# azd environment files
.env
azd.env
.azure
.azdo
*.azcli

# Local state and config
*.log
*.tmp
*.bak
*.swp

# VSCode
.vscode/

# Windows junk
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS junk
.DS_Store
.AppleDouble
.LSOverride


# Sensitive or temporary files
*.ps1
*.sh
*.pem
*.key
*.crt
*.pfx
*.cer
*.csv

# Allow Bicep parameter files
!infra/*.json

scripts/*